<div fxLayout="row" fxLayoutAlign="center center">
  <img class="avatar" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div class="username">tony</div>
</div>
<mat-divider class="divider"></mat-divider>
<div class="profile-content">
  <mat-form-field class="full-width">
    <mat-label>・ひとこと</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5">筋トレを始めようと思っています。よろしくお願いします。</textarea>
  </mat-form-field>
</div>
<mat-divider class="divider"></mat-divider>