<app-breadcrumb [sites]="sites"></app-breadcrumb>

<div fxLayout="row" class="photo-container">
  <div fxFlex="70%" fxLayoutAlign="center center">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </div>
  <div fxFlex="30%" fxLayout="column">
    <div fxFlex="33.3%" fxLayoutAlign="center center">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
    <div fxFlex="33.3%" fxLayoutAlign="center center">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
    <div fxFlex="33.4%" fxLayoutAlign="center center">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
  </div>
</div>
<mat-divider></mat-divider>
