<label for="user_icon_upload" *ngIf="newIconSrc; else nullNewIcon">
  <ng-content select=".newIcon"></ng-content>
</label>

<ng-template #nullNewIcon>
  <label for="user_icon_upload">
    <ng-content select=".icon"></ng-content>
  </label>
</ng-template>
<input type='file' id="user_icon_upload" accept="image/*" (change)="onChangeInput($event)" style="display:none;">

<app-image-trimming-dialog *ngIf="trimmingDialog" [src]=imageSrc (closed)="closeDialog()" (trimmed)="trimmed($event)">
</app-image-trimming-dialog>
