<app-breadcrumb [sites]="sites"></app-breadcrumb>

<ng-container>
  <app-form-item-title>入金情報</app-form-item-title>
  <div
    id="main-content"
    class="container"
    (click)="jump('/mypage/money/payment')"
  >
    <p>クレジットカード情報を編集</p>
  </div>
  <app-form-item-title>出金情報</app-form-item-title>
  <div
    id="main-content"
    class="container"
    (click)="jump('/mypage/money/withdrawal')"
  >
    <p>出金先情報を編集</p>
  </div>
  <app-form-item-title>履歴</app-form-item-title>
  <div
    id="main-content"
    class="container"
    (click)="jump('/mypage/money/history')"
  >
    <p>入出金履歴</p>
  </div>
</ng-container>
