<app-breadcrumb [sites]="sites"></app-breadcrumb>

<ng-container *ngIf="user; else nullUser">
  <app-form-item-title>タイトル</app-form-item-title>
  <div class="form-container">
    <mat-form-field class="full-width">
      <input matInput placeholder="タイトル" [(ngModel)]="user.mentor.title">
    </mat-form-field>
  </div>
  <app-form-item-title>イメージ画像</app-form-item-title>
  <div class="form-container">
    <app-trimming-image class="plan-image" [multipleNum]="1" (getTrimmedImage)="getTrimmedImage1($event)">
      <img class="icon" [src]="user.mentor.image1" onerror="this.src='assets/add-image.png'" />
      <img *ngIf="newImage1" class="newIcon" [src]="newImage1"/>
    </app-trimming-image>

    <app-trimming-image class="plan-image" [multipleNum]="2" (getTrimmedImage)="getTrimmedImage2($event)">
      <img class="icon" [src]="user.mentor.image2" onerror="this.src='assets/add-image.png'" />
      <img *ngIf="newImage2" class="newIcon" [src]="newImage2" />
    </app-trimming-image>

    <app-trimming-image class="plan-image" [multipleNum]="3" (getTrimmedImage)="getTrimmedImage3($event)">
      <img class="icon" [src]="user.mentor.image3" onerror="this.src='assets/add-image.png'" />
      <img *ngIf="newImage3" class="newIcon" [src]="newImage3" />
    </app-trimming-image>

    <app-trimming-image class="plan-image" [multipleNum]="4" (getTrimmedImage)="getTrimmedImage4($event)">
      <img class="icon" [src]="user.mentor.image4" onerror="this.src='assets/add-image.png'" />
      <img *ngIf="newImage4" class="newIcon" [src]="newImage4" />
    </app-trimming-image>
  </div>
  <app-form-item-title>できること</app-form-item-title>
  <div class="form-container">
    <mat-form-field class="full-width">
      <mat-label>できること</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="user.mentor.appeal_message"></textarea>
    </mat-form-field>
  </div>

  <ng-container *ngFor="let plan of user.mentor.mentor_plans; index as i">
    <app-form-item-title>メンタープラン{{ i + 1 }}</app-form-item-title>
    <div class="form-container">
      <mat-form-field class="full-width">
        <input matInput placeholder="プランタイトル" [(ngModel)]="plan.title">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>できること</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="plan.detail"></textarea>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="金額" [(ngModel)]="plan.price">
      </mat-form-field>
    </div>
  </ng-container>

  <div class="save-button-container">
    <button mat-raised-button color="primary" class="full-width" (click)="add_plan()">プランを増やす</button>
  </div>

  <div class="save-button-container">
    <button mat-raised-button color="primary" class="full-width" (click)="save(user.mentor)">保存する</button>
  </div>
</ng-container>

<ng-template #nullUser>
  <mat-spinner></mat-spinner>
</ng-template>