<ng-container>
  <div id="sign-content" class="container">
    <p id="content-title">ログイン</p>
    <input
      type="email"
      class="input-text"
      [(ngModel)]="email"
      placeholder="メールアドレス"
    /><br />
    <input
      type="password"
      class="input-text"
      [(ngModel)]="password"
      placeholder="パスワード"
    />

    <button
      mat-raised-button
      color="primary"
      id="main-button"
      (click)="signIn()"
    >
      ログイン
    </button>
    <a href="http://localhost:4200/sign-up"
      ><p id="login-link">アカウントを作成する</p></a
    >
  </div>
</ng-container>

<ng-template #nullUser>
  <mat-spinner></mat-spinner>
</ng-template>
