<ng-container>
  <div id="sign-content" class="container">
    <p id="content-title">ログイン</p>

    <mat-form-field>
      <input
        matInput
        inputmode="email"
        placeholder="メールアドレス"
        [(ngModel)]="email"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        inputmode="password"
        placeholder="パスワード"
        [(ngModel)]="password"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      id="main-button"
      (click)="signIn()"
    >
      ログイン
    </button>
    <a href="./sign-up"><p id="login-link">アカウントを作成する</p></a>
  </div>
</ng-container>

<ng-template #nullUser>
  <mat-spinner></mat-spinner>
</ng-template>
