<app-breadcrumb [sites]="sites"></app-breadcrumb>

<ng-container *ngIf="user | async as user; else nullUser">
  <app-form-item-title>本人確認書類区分</app-form-item-title>
  <div id="main-content" class="container">
    <mat-form-field class="full-width">
      <input matInput placeholder="氏名（姓）*" [(ngModel)]="user.nickname" />
    </mat-form-field>
  </div>

  <app-form-item-title>運転免許証（表）</app-form-item-title>
  <div id="main-content" class="container">
    <mat-form-field class="full-width">
      <input matInput placeholder="氏名（姓）*" [(ngModel)]="user.nickname" />
    </mat-form-field>
  </div>

  <app-form-item-title>運転免許証（裏）</app-form-item-title>
  <div id="main-content" class="container">
    <mat-form-field class="full-width">
      <input matInput placeholder="氏名（姓）*" [(ngModel)]="user.nickname" />
    </mat-form-field>
  </div>

  <div id="button-container" class="container">
    <button
      mat-raised-button
      color="primary"
      class="full-width"
      (click)="save(user)"
    >
      次へ進む
    </button>
  </div>
</ng-container>

<ng-template #nullUser>
  <mat-spinner></mat-spinner>
</ng-template>
