/* You can add global styles to this file, and also import other style files */

:root
  --primary-color: #fff
  --background-color: #000000
  --text-color: #555555
  --form-background-color: #efefef
  --primary-font-color: #8316C7
  --content-border-color: #dddddd

body
  margin: 0