<app-breadcrumb [sites]="sites"></app-breadcrumb>
<ng-container *ngIf="user; else nullUser">

  <div fxLayout="column">
    <div fxFlex="60%" fxLayoutAlign="center center">
      <app-avatar class="user-image"></app-avatar>
    </div>
    <div fxFlex="40%" fxLayoutAlign="center center">
      <div class="username">{{ user.nickname }}</div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="word">
    {{ user.user_detail.short_message }}
  </div>
  <mat-divider class="divider"></mat-divider>

  <div class="container">
    <div>
      ・メンタープラン
    </div>
    <div>
      <div fxLayout="row">
        <div fxFlex="30%" fxLayoutAlign="center center">
          <img class="plan-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo">
        </div>
        <div fxFlex="70%" fxLayoutAlign="center center">
          <div>
            2ヶ月までにシックスパックプラン
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>

  <div class="container">
    <div>・基本情報</div>

    <div fxLayout="row">
      <div fxFlex="30%" fxLayoutAlign="start center">生年月日:</div>
      <div fxFlex="70%" fxLayoutAlign="start center">{{ user.birthday }}</div>
      <!-- TODO: 年齢変換パイプ作る -->
    </div><div fxLayout="row">
      <div fxFlex="30%" fxLayoutAlign="start center">性別:</div>
      <div fxFlex="70%" fxLayoutAlign="start center">{{ user.sex }}</div>
    </div>

    <div fxLayout="row">
      <div fxFlex="30%" fxLayoutAlign="start center">身長:</div>
      <div fxFlex="70%" fxLayoutAlign="start center">{{ user.user_detail.height }}</div>
    </div>

    <div fxLayout="row">
      <div fxFlex="30%" fxLayoutAlign="start center">体重:</div>
      <div fxFlex="70%" fxLayoutAlign="start center">{{ user.user_detail.weight }}</div>
    </div>
  </div>
</ng-container>

<ng-template #nullUser>
  <mat-spinner></mat-spinner>
</ng-template>