<app-breadcrumb [sites]="sites"></app-breadcrumb>

<div fxLayout="column">
  <div fxFlex="60%" fxLayoutAlign="center center">
    <app-avatar class="user-image"></app-avatar>
  </div>
  <div fxFlex="40%" fxLayoutAlign="center center">
    <div class="username">tony</div>
  </div>
</div>
<mat-divider></mat-divider>

<div class="word">
  8月までにシックスパック
</div>
<mat-divider class="divider"></mat-divider>

<div class="container">
  <div>
    ・メンタープラン
  </div>
  <div>
    <div fxLayout="row">
      <div fxFlex="30%" fxLayoutAlign="center center">
        <img class="plan-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo">
      </div>
      <div fxFlex="70%" fxLayoutAlign="center center">
        <div>
          2ヶ月までにシックスパックプラン
        </div>
      </div>
    </div>
  </div>
</div>
<mat-divider class="divider"></mat-divider>
